* {
  padding: 0px;
  margin: 0px;
}


/*------HEADER------*/

.contenedorLogoNav {
  background-color: #212529;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 5rem;
}

.divLogo{
  padding-left: 2rem;

}

.divLogo img {
  position: absolute;
  width: 13rem;
  height: auto;
  z-index: 1;
  padding-top: 1rem;

}

/*--------CONTENIDOS--------*/

.contenedorImg {
  background-image: url(../img/IMG_3760.JPG);
  background-size: cover;
  background-repeat: no-repeat;
  border-style: solid;
  border-color: lightgray;
  border-width: 0.1rem 0rem;
  width: 100%;
  height: 36rem;
}

.contenedorTexto {
  padding-top: 10rem;
  padding-left: 11rem;
  width: 50%;
}

.contenedorBoton {
  padding-left: 11rem;
  padding-top: 3rem;
  padding-bottom: 7rem;
}

/*---------FORMULARIO------*/

.contenedorFormulario{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-left: 1rem;
    padding-top: 3rem;
}

.lead{
    width: 70%;
}

.formulario{
    padding-left: 18rem;
    padding-top: 4rem;
}

/*------PRODUCTOS-------*/

.tituloProductos{
  padding-bottom: 2rem;
  padding-right: 2rem;
}

.leyendaProductos{
  padding-left: 9rem;
}

/*-----FOOTER-------*/

.contenedorFooter {
  padding: 1rem;
  background-color: #212529;
}

/*-----MOBILE------*/

@media (max-width: 576px) {

.contenedorTexto{
  width: 100%;
}
.formulario{
  padding-left: 3rem;
  padding-right: 2rem;
  padding-top: 4rem;
}


}
@media (min-width: 1040px) {

  .contenedorImg{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0px -560px;;
  border-style: solid;
  border-color: lightgray;
  border-width: 0.1rem 0rem;
  width: 100%;
  height: auto;
}
}

