/*---MAPS---*/
$mapRs:(facebook:#1e58d6,instagram:hsla(9, 78%, 52%, 0.89),twitter:#3cbaec);
@each $rs, $color in $mapRs {
    .#{$rs}--lnk{
        color: $color;
    }
}
/*----MAP--GET----*/

$estilo:(
    padtop: 5rem ,
    pbot: 5rem
);

.contenedorVideo{
   padding-top: map-get($estilo, padtop);
   padding-bottom: map-get($estilo, pbot);
}
